@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;/ */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  /* ========================= Colors ======================== */
  --mainBG-white: rgba(255,247,237,1);
  --main-white: rgba(255, 255, 255, 1);
  --mainBG-gray: rgba(37, 37, 37, 1);
  --main-gray: rgba(77, 77, 77, 1);
  --primary-orange: rgba(255, 140, 56, 1);
  --secondary-orange: rgba(255, 204, 141, 1);
  --dark-secondary-orange: rgba(255, 221, 178, 1);
  --light-orange: rgba(255, 234, 208, 1);
  --primary-black: rgba(22, 22, 22, 1);
  --red: rgba(225, 118, 84, 1);
  --green: rgba(17, 94, 89, 1);
  --white: rgba(255, 255, 255, 1);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/*  */
/* @media (prefers-color-scheme: light) { */
  /* :root { */
    /* color: #213547; */
    /* background-color: #ffffff; */
  /* } */
  /* a:hover { */
    /* color: #747bff; */
  /* } */
  /* button { */
    /* background-color: #f9f9f9; */
  /* } */
/* } */
